<div class="p-4 bg-black">
  <div class="flex justify-between">
    <ul class="flex text-white">
      <li class="flex items-center p-1">
        <a routerLink="/"> Bijuu Khôi </a>
      </li>
      <li class="flex items-center p-1">
        <a routerLink="/products"> Sản phẩm </a>
      </li>
      <li class="flex items-center p-1">
        <a routerLink="/login"> Liên hệ </a>
      </li>
    </ul>
    <ul class="flex text-white">
      <li class="flex items-center p-1">
        <a routerLink="/cart">Cart</a>
      </li>
      <li class="flex items-center p-1 text-black">
        <input
          class="rounded-l-sm outline-none p-1 text-sm"
          placeholder="Từ khóa"
        />

        <button
          class="bg-white p-1 rounded-r-sm text-sm active:scale-95 border-l-2"
        >
          Search
        </button>
      </li>
    </ul>
  </div>
</div>
